{% extends "layout.html" %}
{% block body %}

<!-- Page Header-->
<header class="masthead">

    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Admin Panel</h1>
                    <span class="subheading">Manage and Change the Posts</span>
                </div>
            </div>
        </div>
    </div>

</header>


<!-- Main Content-->

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div>
                Welcome, {{params['admin_user']}}.

                <br><br>

            </div>

            <h1>Add/Edit Posts</h1>


            <form id="contactForm" action="/edit/{{post.sno}}" method="post" data-sb-form-api-token="API_TOKEN">

                <div class="form-floating">
                    <input class="form-control" id="title" name="title" type="text" value="{{post.title}}" />
                    <label for="title">Title</label>
                </div>

                <div class="form-floating">
                    <input class="form-control" id="slug" name="slug" type="text" value="{{post.slug}}" />
                    <label for="slug">Slug</label>
                </div>

                <div class="form-floating">
                    <input class="form-control" id="content" name="content" value="{{post.content}}"
                        style="height: 12rem"></textarea>
                    <label for="content">Content</label>
                </div>

                <div class="form-floating">
                    <input class="form-control" id="img_file" name="img_file" value="{{post.img_file}}""
                        style="height: 12rem"></textarea>
                    <label for="img_file">Image File</label>
                </div>

                <br />

                <div class="d-none" id="submitSuccessMessage">
                    <div class="text-center mb-3">
                        <div class="fw-bolder">Form submission successful!</div>
                        To activate this form, sign up at
                        <br />
                        <a
                            href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                    </div>
                </div>

                <!-- Submit Button-->
                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Save</button>
            </form>



        </div>
    </div>
</div>

{% endblock %}